DB_HOST=localhost
DB_PORT=5432
DB_NAME=corpus_tts
DB_USER=postgres
DB_PASS=CAMBIA_ESTO
JWT_SECRET=CAMBIA_ESTO_POR_CADENA_ALEATORIA_LARGA
JWT_MINUTES=480
API_BASE=http://127.0.0.1:8000
HF_HUB_DISABLE_SYMLINKS_WARNING=1
